@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  background-color: rgba(#e6eef9, 0.5);
}

.container {
  max-width: 1200px;
  margin: 75px auto 0px;
  padding: 0 15px;
  font-family: "Inter", sans-serif;
}